<img src='<%= toy.escape("image_url") %>'><br>
<label>Name: </label>
<%= toy.escape('name') %><br>
<label>Happiness: </label>
<%= toy.escape('happiness') %><br>
<label>Price: </label>
<%= toy.escape('price') %><br>
<select>
  
</select>
